In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('AI_4_All_Sample1.csv')

In [5]:
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [6]:
new_data = pd.DataFrame(data=[100,1600,1390,2400],columns=["SAT"])
new_data

    SAT
0   100
1  1600
2  1390
3  2400

In [10]:
reg.predict(new_data)
new_data['Predicted GPA'] =reg.predict(new_data)

NameError: name 'reg' is not defined

In [8]:
import numpy as np